/** Swiper styles **/

.swiper {
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
  
    height: 550px;
  
    padding: 16px 16px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  
  .swiper-slide-bg-image {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .swiper-slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }
  
  .swiper-slide-1990 {
    border-radius: 15px;
    --swiper-material-slide-border-radius: 15px;
  }
  .swiper-slide-bg-image-c61b {
    object-fit: cover;
    border-radius: inherit;
  }
  .swiper-slide-content-609f {
    padding: 32px 32px;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .swiper-slide-text-66a3 {
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
  }
  