.slider {
  position: relative;
  width: 100%;
  height: 10px;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 6px;
  position: absolute;
}

.slider__track {
  background-color: #e5e7eb;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #005a9c;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 4px solid #005a9c;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 20px;
  pointer-events: all;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-9px);
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #ffffff;
  border: 4px solid #005a9c;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-9px);
}