@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.ytThumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.5s ease;
  opacity: 70%;
}

.ytThumb:hover {
  transform: scale(1.01);
  /* subtle zoom */
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px 0 30px;
}

span.swiper-pagination-bullet {
  width: 8px;
  display: block;
  height: 8px;
  background: #000;
  opacity: .2;
  border-radius: 50%;
}

span.swiper-pagination-bullet-active {
  width: 24px;
  background: #CE641D;
  opacity: 1;
  border-radius: 4px;
}

p {
  margin-bottom: 20px;
}

p.designation {
  margin-bottom: 40px !important;
}

.grid-bg {
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='grid' width='180' height='180' patternUnits='userSpaceOnUse'%3E%3Cpath d='M 180 0 L 0 0 0 180' fill='none' stroke='%23E5E7EB' stroke-width='1'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23grid)'/%3E%3C/svg%3E");
  background-size: 180px 180px;

  /* Apply a radial fade effect */
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 90%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 90%);
  z-index: -1;
}

.blob-play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: visible;
  animation: pulse 2s ease-out infinite;
}

.blob-play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.8) 100%);
  animation: ripple-ring 2s ease-out infinite;
  z-index: -1;
}

@keyframes ripple-ring {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

  25% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.5;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  75% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.5;
  }

  90% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  90% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.rtl .text-left {
  text-align: right !important
}

.aboutCards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  /* use inline style or dynamic from React */
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease-in-out;
  z-index: 0;
}

.aboutCards .card:hover::before {
  transform: scale(1.1);
}

.aboutCards .cardText {
  background-image: linear-gradient(180deg, #FFFFFF00 10%, #131f526e 25%, #131f526e 100%);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px 0px 30px 30px;
}

.locationsTabHead nav {
  justify-self: flex-end !important;
  gap: 10px;
}

.locationsSection .mapSection {
  height: 600px;
}


@media (min-width: 768px) {

  .partnerSlider .swiper-pagination,
  .home-awards-slider .swiper-pagination {
    display: none;
  }
}

@media (max-width: 767px) {
  .partnerSlider .swiper-pagination-bullet-active {
    background: #ffffff7a;
    border: 1px solid #a9a3a37d;
  }
}

@media only screen and (max-width: 767px) {
  .locationsTabHead nav {
    justify-self: flex-start !important;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}